[submodule "better-defaults"]
	path = better-defaults
	url = https://github.com/technomancy/better-defaults.git
[submodule "themes/zenburn"]
	path = themes/zenburn
	url = https://github.com/bbatsov/zenburn-emacs.git
